html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background: #666;
  }
  .bgRaster {
    width: 1092px;
    height: 836px;
    background:
      -webkit-repeating-linear-gradient(
        left,
        #FFF 0px,
        #FFF 4px,
        transparent 4px,
        transparent 64px
      ),
      -webkit-repeating-linear-gradient(
        top,
        #FFF 0px,
        #FFF 4px,
        transparent 4px,
        transparent 64px
      );
    background:
      -moz-repeating-linear-gradient(
        left,
        #FFF 0px,
        #FFF 4px,
        transparent 4px,
        transparent 64px
      ),
      -moz-repeating-linear-gradient(
        top,
        #FFF 0px,
        #FFF 4px,
        transparent 4px,
        transparent 64px
      );
    -webkit-background-size: 64px 64px;
    -moz-background-size: 64px 64px;
    background-size: 64px 64px;
  }
  
  .colorBars {
    width: 60px;
    height: 64px;
    position: absolute;
    left: 4px;
    top: 4px;
    box-shadow:
      /* left green bar */
      64px 64px 0px  #096,
      64px 128px 0px #096,
      64px 192px 0px #096,
      64px 256px 0px #096,
      64px 288px 0px #096,
      64px 352px 0px #096,
      /* left pink bar */
      64px 412px 0px #F6F,
      64px 444px 0px #F6F,
      64px 508px 0px #F6F,
      64px 572px 0px #F6F,
      64px 636px 0px #F6F,
      64px 700px 0px #F6F,
      /* left blue bar */
      124px 64px  0px #66F,
      128px 64px  0px #66F,
      124px 124px 0px #66F,
      128px 124px 0px #66F,
      /* left brown bar */
      124px 640px 0px #963,
      128px 640px 0px #963,
      124px 700px 0px #963,
      128px 700px 0px #963,
      /* right green bar */
      960px 64px 0px  #0F0,
      960px 128px 0px #0F0,
      960px 192px 0px #0F0,
      960px 256px 0px #0F0,
      960px 288px 0px #0F0,
      960px 352px 0px #0F0,
      /* right blue bar */
      960px 412px 0px #66F,
      960px 444px 0px #66F,
      960px 508px 0px #66F,
      960px 572px 0px #66F,
      960px 636px 0px #66F,
      960px 700px 0px #66F,
      /* right blue bar */
      896px 64px  0px #66F,
      900px 64px  0px #66F,
      896px 124px 0px #66F,
      900px 124px 0px #66F,
      /* left brown bar */
      896px 640px 0px #963,
      900px 640px 0px #963,
      896px 700px 0px #963,
      900px 700px 0px #963;
  }
  
  .circle {
    background: #FFF;
    position: absolute;
    width: 768px;
    height: 768px;
    top: 32px;
    left: 162px;
    -webkit-mask: -webkit-radial-gradient(#FFF 380px, rgba(0,0,0,0) 380px);
    /* mozilla */
    mask: url(#mask);
  }
  
  .circle .line.no-1 {
    background: #000;
    width: 256px;
    height: 64px;
    margin: 32px auto 0 auto;
  }
  
  .mask {
  }
  
  .circle .line.no-2 {
    background: -webkit-linear-gradient(
      left,
      #000 192px,
      #FFF 192px,
      #FFF 224px,
      #000 224px,
      #000 228px,
      #FFF 228px,
      #FFF 578px,
      #000 578px
    );
    background: -moz-linear-gradient(
      left,
      #000 192px,
      #FFF 192px,
      #FFF 224px,
      #000 224px,
      #000 228px,
      #FFF 228px,
      #FFF 578px,
      #000 578px
    );
    height: 64px;
  }
  
  .circle .line.no-3 {
    background: -webkit-repeating-linear-gradient(
      left,
      #000 0px,
      #000 32px,
      #999 32px,
      #999 64px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #000 0px,
      #000 32px,
      #999 32px,
      #999 64px
    );
    height: 64px;
  }
  
  .circle .line.no-4 {
    background: -webkit-linear-gradient(
      left,
      #FF0 130px,
      #0FF 130px,
      #0FF 258px,
      #0F0 258px,
      #0F0 386px,
      #F0F 386px,
      #F0F 514px,
      #F00 514px,
      #F00 640px,
      #00F 640px,
      #00F 768px
    );
    background: -moz-linear-gradient(
      left,
      #FF0 130px,
      #0FF 130px,
      #0FF 258px,
      #0F0 258px,
      #0F0 386px,
      #F0F 386px,
      #F0F 514px,
      #F00 514px,
      #F00 640px,
      #00F 640px,
      #00F 768px
    );
    height: 132px;
  }
  
  .circle .line.no-5 {
    width: 832px;
    margin-left: -28px;
    height: 60px;
    background:
      -webkit-linear-gradient(
        top,
        transparent 28px,
        #FFF 28px,
        #FFF 32px,
        transparent 32px
      ),
      -webkit-repeating-linear-gradient(
        left,
        #000 0px,
        #000 60px,
        #FFF 60px,
        #FFF 64px
      );
    background:
      -moz-linear-gradient(
        top,
        transparent 28px,
        #FFF 28px,
        #FFF 32px,
        transparent 32px
      ),
      -moz-repeating-linear-gradient(
        left,
        #000 0px,
        #000 60px,
        #FFF 60px,
        #FFF 64px
      );
  }
  
  .circle .line.no-5 div {
    background:
      -webkit-linear-gradient(
        top,
        transparent 96px,
        #FFF 96px,
        #FFF 100px,
        transparent 100px
      ),
      -webkit-linear-gradient(
        left,
        #000 28px,
        #FFF 28px,
        #FFF 32px,
        #000 32px
      );
    background:
      -moz-linear-gradient(
        top,
        transparent 96px,
        #FFF 96px,
        #FFF 100px,
        transparent 100px
      ),
      -moz-linear-gradient(
        left,
        #000 28px,
        #FFF 28px,
        #FFF 32px,
        #000 32px
      );
    width: 60px;
    height: 196px;
    position: relative;
    top: -68px;
    left: 384px;
  }
  
  .circle .line.no-6 {
    height: 128px;
    padding: 0 64px;
    background: #000;
  }
  
  .circle .line.no-6 .block {
    width: 128px;
    height: 128px;
    background: red;
    float: left;
  }
  
  .circle .line.no-6 .block.no-1 {
    background: -webkit-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 16px,
      #000 16px,
      #000 32px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 16px,
      #000 16px,
      #000 32px
    );
  }
  
  .circle .line.no-6 .block.no-2 {
    background: -webkit-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 8px,
      #000 8px,
      #000 16px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 8px,
      #000 8px,
      #000 16px
    );
  }
  
  .circle .line.no-6 .block.no-3 {
    background: -webkit-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 4px,
      #000 4px,
      #000 8px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 4px,
      #000 4px,
      #000 8px
    );
  }
  
  .circle .line.no-6 .block.no-4 {
    background: -webkit-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 2px,
      #000 2px,
      #000 4px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 2px,
      #000 2px,
      #000 4px
    );
  }
  
  .circle .line.no-6 .block.no-5 {
    background: -webkit-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 1px,
      #000 1px,
      #000 2px
    );
    background: -moz-repeating-linear-gradient(
      left,
      #FFF 0,
      #FFF 1px,
      #000 1px,
      #000 2px
    );
  }
  
  .circle .line.no-7 {
    height: 64px;
    background: -webkit-linear-gradient(
      left,
      #000 130px,
      #F0F 130px,
      rgba(0,0,0,1) 130px,
      rgba(0,0,0,1) 192px,
      rgba(0,0,0,0.875) 192px,
      rgba(0,0,0,0.875) 256px,
      rgba(0,0,0,0.75) 256px,
      rgba(0,0,0,0.75) 320px,
      rgba(0,0,0,0.625) 320px,
      rgba(0,0,0,0.625) 384px,
      rgba(0,0,0,0.5) 384px,
      rgba(0,0,0,0.5) 448px,
      rgba(0,0,0,0.375) 448px,
      rgba(0,0,0,0.375) 512px,
      rgba(0,0,0,0.25) 512px,
      rgba(0,0,0,0.25) 576px,
      rgba(0,0,0,0.125) 576px,
      rgba(0,0,0,0.125) 640px,
      rgba(0,0,0,0) 640px
    );
    background: -moz-linear-gradient(
      left,
      #000 130px,
      #F0F 130px,
      rgba(0,0,0,1) 130px,
      rgba(0,0,0,1) 192px,
      rgba(0,0,0,0.875) 192px,
      rgba(0,0,0,0.875) 256px,
      rgba(0,0,0,0.75) 256px,
      rgba(0,0,0,0.75) 320px,
      rgba(0,0,0,0.625) 320px,
      rgba(0,0,0,0.625) 384px,
      rgba(0,0,0,0.5) 384px,
      rgba(0,0,0,0.5) 448px,
      rgba(0,0,0,0.375) 448px,
      rgba(0,0,0,0.375) 512px,
      rgba(0,0,0,0.25) 512px,
      rgba(0,0,0,0.25) 576px,
      rgba(0,0,0,0.125) 576px,
      rgba(0,0,0,0.125) 640px,
      rgba(0,0,0,0) 640px
    );
  }
  
  .circle .line.no-8 {
    height: 64px;
    background: -webkit-linear-gradient(
      left,
      #FFF 192px,
      #000 192px,
      #000 576px,
      #FFF 576px
    );
    background: -moz-linear-gradient(
      left,
      #FFF 192px,
      #000 192px,
      #000 576px,
      #FFF 576px
    );
  }
  
  .circle .line.no-9 {
    height: 96px;
    background: -webkit-linear-gradient(
      left,
      #FF0 354px,
      #F00 354px,
      #F00 416px,
      #FF0 416px
    );
    background: -moz-linear-gradient(
      left,
      #FF0 354px,
      #F00 354px,
      #F00 416px,
      #FF0 416px
    );
  }