
body{
    background: black;
}

.invisible{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}
.colorSwatch{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.label{
    text-shadow: 0.5px 0.5px #cccccc;
    margin: 0;
}